APP_NAME="TrustGate"
VERSION="0.1.0"

MODE="development" # development or production

VAULT_KV_VERSION=2
VAULT_PROTOCOL="https"
VAULT_HOST="localhost" # change to your vault host
VAULT_PORT=8200
VAULT_REJECT_UNAUTHORIZED="False"
VAULT_CERTIFICATE="/path/to/cert.pem" # change to your cert absolute path
VAULT_ROLE_ID="my-role-id" # change to your role id
VAULT_SECRET_ID="my-secret-id" # change to your secret id
